.details-nav {
  border-bottom: $bdr-2dl;
  padding: 2em;
  ul {
    @include flexbox(row, space-evenly, center);
    gap: 2em;
    padding-left: 0px;
    list-style: none;
    font-weight: $weight-bold;
  }
  li {
    cursor: pointer;
    position: relative;
    &:hover {
      color: $clr-darker-light;
    }
  }
}

.tablet-details {
  display: none;
}

.active::after {
  content: "";
  display: block;

  width: 100%;
  height: 5px;

  position: absolute;
  top: 3em;
}

@media screen and (min-width: 768px) {
  .details-nav {
    display: none;
  }

  .active::after {
    display: none;
  }

  .tablet-details {
    display: block;
    width: 50%;
    ul {
      @include flexbox(column, center, center);
      list-style: none;
      width: 70%;
      li {
        border: 2px solid $clr-darker-light;
        padding: 1em;
        width: 100%;
        color: $clr-light;
        cursor: pointer;
        margin-bottom: 1em;
        &:hover {
          background-color: $clr-darker-light;
          border-color: $clr-darker-light;
        }
        &::before {
          content: "01";
          color: $clr-lighter-dark;
          margin-right: 1em;
        }
        &:nth-child(2) {
          &::before {
            content: "02";
          }
        }
        &:nth-child(3) {
          &::before {
            content: "03";
          }
        }
      }
    }
  }
}
