.navbar {
  @include flexbox($align: center);

  font-family: $font-antonio;
  font-size: 1.3em;

  padding: 0px 20px;
  height: 15vh;

  border-bottom: $bdr-2dl;

  position: relative;
  h1 {
    margin-right: auto;
  }
  img {
    cursor: pointer;
  }
}

.dropdown {
  width: 100%;
  height: 85vh;

  position: absolute;
  top: 100%;
  left: 0px;

  background-color: $clr-dark;
  z-index: 5;
}

.nav-items-mobile {
  @include flexbox(column);
  list-style: none;
  margin-top: 5vh;
  padding: 0px 2em;
  gap: 1em;
}

.nav-items {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    @include flexbox(column, center, center);
    h1 {
      margin: 0px;
    }
    img {
      display: none;
    }
    .nav-items {
      display: block;
      margin-top: 2.5vh;
      ul {
        @include flexbox(row, space-evenly, center);
        list-style: none;
        gap: 1.4em;
        padding-left: 0px;
        li {
          color: $clr-darker-light;
          font-size: 1em;
          cursor: pointer;
          font-family: $font-spartan;
          font-weight: $weight-bold;
          &:hover {
            color: $clr-light;
          }
        }
      }
    }
  }
}
