// MERCURY

.mercury {
  &::after {
    background-color: $clr-mercury;
  }
}

.mercury-planet {
  background: url("../assets/planet-mercury.svg") no-repeat center;
  background-size: contain;
}

.mercury-core {
  background: url("../assets/planet-mercury-internal.svg") no-repeat center;
  background-size: contain;
}

.mercury-geology {
  background: url("../assets/geology-mercury.png") no-repeat;
  background-size: contain;
}

.active.mercury {
  background-color: $clr-mercury;
  border-color: $clr-mercury;
}

// VENUS
.venus {
  &::after {
    background-color: $clr-venus;
  }
}
.venus-planet {
  background: url("../assets/planet-venus.svg") no-repeat center;
  background-size: contain;
}
.venus-core {
  background: url("../assets/planet-venus-internal.svg") no-repeat center;
  background-size: contain;
}
.venus-geology {
  background: url("../assets/geology-venus.png") no-repeat;
  background-size: contain;
}

.active.venus {
  background-color: $clr-venus;
  border-color: $clr-venus;
}

// EARTH
.earth {
  &::after {
    background-color: $clr-earth;
  }
}
.earth-planet {
  background: url("../assets/planet-earth.svg") no-repeat center;
  background-size: contain;
}
.earth-core {
  background: url("../assets/planet-earth-internal.svg") no-repeat center;
  background-size: contain;
}
.earth-geology {
  background: url("../assets/geology-earth.png") no-repeat;
  background-size: contain;
}

.active.earth {
  background-color: $clr-earth;
  border-color: $clr-earth;
}

// MARS
.mars {
  &::after {
    background-color: $clr-mars;
  }
}
.mars-planet {
  background: url("../assets/planet-mars.svg") no-repeat center;
  background-size: contain;
}
.mars-core {
  background: url("../assets/planet-mars-internal.svg") no-repeat center;
}
.mars-geology {
  background: url("../assets/geology-mars.png") no-repeat;
  background-size: contain;
}

.active.mars {
  background-color: $clr-mars;
  border-color: $clr-mars;
}

// JUPITER
.jupiter {
  &::after {
    background-color: $clr-jupiter;
  }
}
.jupiter-planet {
  background: url("../assets/planet-jupiter.svg") no-repeat center;
  background-size: contain;
}
.jupiter-core {
  background: url("../assets/planet-jupiter-internal.svg") no-repeat center;
  background-size: contain;
}
.jupiter-geology {
  background: url("../assets/geology-jupiter.png") no-repeat;
  background-size: contain;
}

.active.jupiter {
  background-color: $clr-jupiter;
  border-color: $clr-jupiter;
}

// SATURN
.saturn {
  &::after {
    background-color: $clr-saturn;
  }
}
.saturn-planet {
  background: url("../assets/planet-saturn.svg") no-repeat center;
  background-size: contain;
}
.saturn-core {
  background: url("../assets/planet-saturn-internal.svg") no-repeat center;
  background-size: contain;
}
.saturn-geology {
  background: url("../assets/geology-saturn.png") no-repeat;
  background-size: contain;
}

.active.saturn {
  background-color: $clr-saturn;
  border-color: $clr-saturn;
}

// URANUS
.uranus {
  &::after {
    background-color: $clr-uranus;
  }
}
.uranus-planet {
  background: url("../assets/planet-uranus.svg") no-repeat center;
  background-size: contain;
}
.uranus-core {
  background: url("../assets/planet-uranus-internal.svg") no-repeat center;
  background-size: contain;
}
.uranus-geology {
  background: url("../assets/geology-uranus.png") no-repeat;
  background-size: contain;
}

.active.uranus {
  background-color: $clr-uranus;
  border-color: $clr-uranus;
}

// NEPTUNE
.neptune {
  &::after {
    background-color: $clr-neptune;
  }
}
.neptune-planet {
  background: url("../assets/planet-neptune.svg") no-repeat center;
  background-size: contain;
}
.neptune-core {
  background: url("../assets/planet-neptune-internal.svg") no-repeat center;
  background-size: contain;
}
.neptune-geology {
  background: url("../assets/geology-neptune.png") no-repeat;
  background-size: contain;
}

.active.neptune {
  background-color: $clr-neptune;
  border-color: $clr-neptune;
}
