.planet-container {
  @include flexbox(column, center, center);
  .planet {
    width: 80%;
    height: 400px;
  }

  h2 {
    font-family: $font-antonio;
    font-weight: $weight-bold;
    font-size: 4em;
  }

  p {
    text-align: center;
    padding: 2em;
    line-height: 1.8em;
  }
}

.planet-details {
  @include flexbox(column, center, center);
  width: 100%;
  .source-link {
    color: $clr-lighter-dark;
    padding-top: 0px;
    a {
      font-weight: $weight-bold;
      color: $clr-darker-light;
    }
  }
}

.details {
  width: 100%;
  text-align: center;
}

.planet-facts {
  @include flexbox(column, center, center);
  width: 100%;
}

.geo-size {
  width: 200px;
  height: 200px;
  top: 34%;
  left: 28%;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .details {
    margin-left: 20px;
    width: 50%;
    h2 {
      margin-left: 26px;
      text-align: left;
    }
    p {
      text-align: left;
    }
  }

  .planet-facts {
    width: 90%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }

  .planet {
    margin: 3em 0em;
  }

  .tablet-flex {
    @include flexbox(row, left, center);
  }

  .geo-size {
    width: 200px;
    height: 200px;
    top: 19.2%;
    left: 39.2%;
    position: absolute;
  }
}

@media screen and (min-width: 1024px) {
  .details {
    margin-left: 5em;
    width: 50%;
    h2 {
      margin-left: 26px;
      text-align: left;
    }
    p {
      text-align: left;
    }
  }

  .geo-size {
    width: 200px;
    height: 200px;
    top: 14.5%;
    left: 45.7%;
    position: absolute;
  }
}
