.planet-container {
  @include flexbox(column, center, center);
  .planet {
    width: 80%;
    height: 400px;
  }

  h2 {
    font-family: $font-antonio;
    font-weight: $weight-bold;
    font-size: 4em;
  }

  p {
    text-align: center;
    padding: 2em;
    line-height: 1.8em;
  }
}

.planet-details {
  @include flexbox(column, center, center);
  width: 100%;
  .source-link {
    color: $clr-lighter-dark;
    padding-top: 0px;
    a {
      font-weight: $weight-bold;
      color: $clr-darker-light;
    }
  }
}

.details {
  width: 100%;
  text-align: center;
}

.planet-facts {
  @include flexbox(column, center, center);
  width: 100%;
}

.geo-size {
  width: 200px;
  height: 200px;
  top: 34%;
  left: 28%;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .planet-facts {
    width: 90%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
}
