:root {
  // Inline Style Variables
  --clr-mercury: #419ebb;
  --clr-venus: #eda249;
  --clr-earth: #6d2ed5;
  --clr-mars: #d14c32;
  --clr-jupiter: #d83a34;
  --clr-saturn: #cd5120;
  --clr-uranus: #1ec1a2;
  --clr-neptune: #2d68f0;
}

// Greyscale Colors
$clr-light: #ffffff;
$clr-dark: #070724;
$clr-lighter-dark: #38384f;
$clr-darker-light: #838391;

// Fonts Styles
$font-antonio: "Antonio", sans-serif;
$font-spartan: "Spartan", sans-serif;

// Weights
$weight-bold: 700;
$weight-regular: 400;
$weight-medium: 500;

// Planet Colors
$clr-mercury: #419ebb;
$clr-venus: #eda249;
$clr-earth: #6d2ed5;
$clr-mars: #d14c32;
$clr-jupiter: #d83a34;
$clr-saturn: #cd5120;
$clr-uranus: #1ec1a2;
$clr-neptune: #2d68f0;
